body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  max-width: 500px;
  margin: 0 auto;
  padding: 80px 16px 64px 16px;
}

.todo-list {
  margin-bottom: 40px;
  min-height: 400px;
}

.todo-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  border-bottom: 2px solid white;
  flex-wrap: wrap;
}

.todo-name {
  cursor: pointer;
  width: 40%;
}

.todo-groupName {
  opacity: 0.5;
  width: 100%;
  padding-left: 107px;
  font-size: 14px;
  margin-top: -12px;
}

.todo-input {
  padding: 4px;
  border-bottom: 1px solid white;
}

.button {
  border: 2px solid white;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

$check-border-size: 4px;
.button-status {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 42%;
    left: 50%;
    width: 14px;
    height: 8px;
    border-left: $check-border-size solid transparent;
    border-bottom: $check-border-size solid transparent;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: border-left 0.2s, border-bottom 0.2s;
  }
  
  &:hover {
    // opacity: 0.8;
    &::before {
      border-left: $check-border-size solid #25AF01;
      border-bottom: $check-border-size solid #25AF01;
    }
  }
}

.is-completed {
  &::before {
    border-left: $check-border-size solid #25AF01;
    border-bottom: $check-border-size solid #25AF01;
  }
}

.is-fav {
  animation-name: star-move;
  animation-duration: 0.5s;
  opacity: 0.85;
}

@keyframes star-move {
  0% {
    scale: 0.8;
  }

  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

.todo-move {
  display: flex;
  width: 12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  svg {
    flex: 0 0 auto;
    margin: auto;
    height: 100%;
    overflow: visible;
    fill: #919eab;
  }
}

.todo-inputArea {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.button-remove {
  background-color: #b21e1e;
}


input[type=checkbox] {
  display: none;
}
.checkbox {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;

  &::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
  }

  &::after {
    border-right: 6px solid #25AF01;
    border-bottom: 3px solid #25AF01;
    content: '';
    display: block;
    height: 20px;
    left: 9px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 60%;
    transform: rotate(45deg) translate3d(0,2px,0) scale3d(.7,.7,1);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    width: 9px;
  }
}
// .checkbox::before {
//   background: #fff;
//   border: 1px solid #ccc;
//   border-radius: 3px;
//   content: '';
//   display: block;
//   height: 16px;
//   left: 5px;
//   margin-top: -8px;
//   position: absolute;
//   top: 50%;
//   width: 16px;
// }
// .checkbox::after {
//   border-right: 6px solid #25AF01;
//   border-bottom: 3px solid #25AF01;
//   content: '';
//   display: block;
//   height: 20px;
//   left: 9px;
//   margin-top: -16px;
//   opacity: 0;
//   position: absolute;
//   top: 60%;
//   transform: rotate(45deg) translate3d(0,2px,0) scale3d(.7,.7,1);
//   transition: transform .2s ease-in-out, opacity .2s ease-in-out;
//   width: 9px;
// }
input[type=checkbox]:checked + .checkbox{
  &::before {
    border-color: #666;
  }
  &::after {
    opacity: 1;
    transform: rotate(45deg) scale3d(1,1,1);
  }
}