@use 'globals' as *;

.sideMenu {
  z-index: 1;
  top: 0;
  padding-top: 100px;
}

.sideMenu-list {}

.sideMenu-item {
  &:first-child {
    position: relative;
    padding-left: 24px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url(../img/icon/home.png);
      background-size: cover;
      position: absolute;
      top: 45%;
      left: 8px;
      transform: translate(-50%, -50%);
    }
  }

  &:nth-child(2) {
    position: relative;
    padding-left: 24px;
    margin-bottom: 24px;
    padding-bottom: 40px;
    border-bottom: 2px solid $black;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url(../img/icon/fav-off.png);
      background-size: cover;
      position: absolute;
      top: 26%;
      left: 8px;
      transform: translate(-50%, -50%);
      filter: brightness(1.8);
    }
  }
}

.sideMenu-btn {
  position: fixed;
  z-index: 10;
}

.button-addGroup {
  border: 2px solid $white;
}