.todo-list {}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-title {
  width: 40%;
}

.todo-input {
  padding: 4px;
  border: 1px solid white;
}

.button {
  border: 2px solid white;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

.button-status {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: color 0.2s, opacity 0.2s;
  display: flex;
  align-items: center;
  
  &:hover {
    color: white !important;
    opacity: 0.6;
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}