.todo-list {}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-title {
  width: 40%;
}

.todo-input {
  padding: 4px;
  border: 1px solid white;
}

.button {
  border: 2px solid white;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}
$check-border-size: 4px;
.button-status {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 42%;
    left: 50%;
    width: 14px;
    height: 8px;
    border-left: $check-border-size solid transparent;
    border-bottom: $check-border-size solid transparent;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: border-left 0.2s, border-bottom 0.2s;
  }
  
  &:hover {
    // opacity: 0.8;
    &::before {
      border-left: $check-border-size solid #25AF01;
      border-bottom: $check-border-size solid #25AF01;
    }
  }
}

.is-completed {
  &::before {
    border-left: $check-border-size solid #25AF01;
    border-bottom: $check-border-size solid #25AF01;
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}