@use '../globals' as *;

.sideMenu {
  z-index: 1;
  top: 0;
  padding-top: 100px;
}

.sideMenu-list {}

.sideMenu-item {
  display: flex;
  align-items: center;

  &:first-child {
    position: relative;
    padding-left: 24px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url(../../img/icon/home.png);
      background-size: cover;
      position: absolute;
      top: 45%;
      left: 8px;
      transform: translate(-50%, -50%);
    }
  }

  &:nth-child(2) {
    position: relative;
    padding-left: 24px;
    margin-bottom: 24px;
    padding-bottom: 40px;
    border-bottom: 2px solid $black;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url(../../img/icon/fav-off.png);
      background-size: cover;
      position: absolute;
      top: 26%;
      left: 8px;
      transform: translate(-50%, -50%);
      filter: brightness(1.8);
    }
  }
}

.sideMenu-item-link {
  display: flex;
  width: 90%;
}

.sideMenu-item-num {
  margin-left: auto;
  padding: 0px 7px;
  background-color: #ffffff1c;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #ffffffd6;
}

.sideMenu-add {
  text-align: center;
}

.sideMenu-item-del {
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url(../../img/icon/trash-icon.png);
    background-size: contain;
  }
}

.sideMenu-btn {
  position: fixed;
  z-index: 10;
}

.button-addGroup {
  border: 2px solid $white;
}